<app-header></app-header>
<!-- <p style="padding-top: 8%;text-center:;">
  Follow Tags
</p> -->
<div class="container" style="padding-bottom: 8%;">
  <h1 class="text-center" style="padding-top: 8%;font-size: 30px;">Follow Tags</h1>
  <div class="row m-0 p-0">
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">SPRING</a></strong></div>
        <div class="card-body">Miss behind herself score say care medical.</div> 
        <div class="card-footer">
          Used: 3 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
          </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">POSTGRESQL</a></strong></div>
        <div class="card-body">Far she cover create.Far she cover create.</div> 
        <div class="card-footer">
          Used: 2 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">TYPESCRIPT</a></strong></div>
        <div class="card-body">Father bit edge weight night level.</div> 
        <div class="card-footer">
          Used: 2 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">VB.Net</a></strong></div>
        <div class="card-body">Prevent that entire future more ever</div> 
        <div class="card-footer">
          Used: 2 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">ALGORITHM</a></strong></div>
        <div class="card-body">Son cut company check.Son cut company check.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">AMAZON-WEB-SERVICES</a></strong></div>
        <div class="card-body">Write keep order nature federal thing.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">JAVA</a></strong></div>
        <div class="card-body">Lorem Ipsum is simply dummy text of the printing.</div> 
        <div class="card-footer">
          Used: 2 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">LINUX</a></strong></div>
        <div class="card-body">Lorem Ipsum has been the industry's standard text.</div> 
        <div class="card-footer">
          Used: 2 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">ANDROID</a></strong></div>
        <div class="card-body">Within right data show would record.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">ARRAYS</a></strong></div>
        <div class="card-body">Kind summer senior every gun.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">ASDSAD</a></strong></div>
        <div class="card-body">There are many variations of passages of Lorem Ipsum.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">GIT</a></strong></div>
        <div class="card-body">There are many variations of passages of Lorem Ipsum.</div> 
        <div class="card-footer">Used: 2 times</div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">ECLIPSE</a></strong></div>
        <div class="card-body">Wind parent audience letter.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">C</a></strong></div>
        <div class="card-body">Note growth model item.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">C++</a></strong></div>
        <div class="card-body">Kid for as ball later home.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-3 my-2">
      <div class="card">
        <div class="card-header"><strong><a id="tag-cardHeader" href="" style="color:#007bff;font-size: 20px;">CSS</a></strong></div>
        <div class="card-body">It's is not random text.</div> 
        <div class="card-footer">
          Used: 1 times
          <button class="ml-auto btn btn-sm btn-outline-primary">Follow</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

