
.bg-img{
  position: fixed;
  width: 100%; 
  opacity: 0.1;   
}

.nav-item{

  padding:2px;
  margin-left: 7px;
}

.bg-dark{
  background-color: #004f6bfa!important;
}

#Logoid{
height: 50px;
width: 135px;
}

#prfileicon{
font-size:60px;
color:#c9e0e8;
/* padding-left: 123px; */
}

#prfileicon:hover{
color:white; 
}
#drpdnmenu{
background-color:  white;
min-width: 7rem;
font-size: 13.5px;    
padding: 0.5rem 0;
margin: 0rem 0 0;
/* margin-left: 138px; */
}

#searchinput {
  width: 100%;
}
#drpdnitm1{
background-color: white;
}
#drpdnitm1:hover{
background-color: rgb(221, 218, 218);
}

#drpdnitm2{
background-color: white;
}

#drpdnitm2:hover{
background-color: rgb(221, 218, 218);
}

#searchHeaderBtn{
color: white;
/* background-color:#89b9c7; */
/* background-color: #d0cbcb;; */
/* background-color: #; */
background-color: #1b8b96;
}

#searchHeaderBtn:hover{
  /* background-color: #64c6d6;; */
  /* background-color: white; */
  background-color: white;
  color: black;
}
/*.navbar-dark .navbar-nav .nav-link {
color: rgb(255 255 255 / 96%);
}*/

/*.dropdown-item{
padding-left: 10px;
padding-right: 10px;
}*/

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}