<app-header></app-header>

<div class="container" style="padding-top: 8%;margin-left: 5%;padding-right: 5%;">

  <div class="row">
    <div class="col-md-12">
     <b style="color:#1b8b96"> Cloud Automation 
      , Workflow Orchestration , Robotic Process Automation , Business Process Modelling ,
      Intelligent
      Automation , Data Analytics
    </b>
    </div>
  </div>
  <br>

  <div class="row">  
    <div class="col-md-12">
      <p>Collaboration Flow enables you to create complex workflows with logic and conditions and easy app-to-app
        connectivity.<br><br>
        Connect all your apps, from databases to packaged apps, and to transform the data to build flows that deliver
        the data where you need it. <br><br>
        Create complex workflows by simply connecting applications and data across all of your environments. Add your
        logic and conditions. Integrate applications with drag and drop editor in no time.
        <br><br>
        We give you access to a rich library of pre-built connectors to many on-premise and SaaS applications.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="assets/static/images/Home3.png" />
      </div>
    </div>
  </div>

  <!-- <p style="padding-top: 8%;margin-left: 5%;">
  home-page works!
</p> -->
  <app-footer></app-footer>